version: '3'
services:
  echo:
      image: mendhak/http-https-echo:31
      environment:
          - HTTP_PORT=8888
      depends_on:
          cloudflared:
              condition: service_started
  it-tools:
      image: corentinth/it-tools:latest
      depends_on:
          cloudflared:
              condition: service_started

  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: always
    container_name: cloudflared
    command: tunnel run --token ${tunnel_token}